a, a:link {
  color: #1155CC;
  text-decoration: none;
}
h3 {
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  position: absolute;
}
body {
  background: #e4f8fc url('../images/bgimage.png') center top no-repeat;
  font: 13px/18px Arial;
  color: #222;
}
#main {
  width: 1028px;
  height: 772px;
  background: url('../images/angrybirds.png');
  margin: 150px auto 0 auto;
  position: relative;
}
#button {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: 150px;
  right: 212px;
  cursor: pointer;
}
#buyflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#buybg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .5;
  z-index: 1;
}
#butter {
  background: #F9EDBE url('../images/gwallet_full.png') no-repeat 5px 3px;
  background-size: 50%;
  border-bottom: 1px solid #DDD8C0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 40px;
}
  #close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
  }
  #close:hover {
    background: #cfc59d;
  }
#frame {
  width: 635px;
  position: absolute;
  margin-top: -175px;
  margin-left: -325px;
  top: 50%;
  left: 50%;
  z-index: 2;
}
  #left {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50%;
    border: 1px solid #ACACAC;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    background: #fff;
    border-radius: 8px;
  }
    #iteminfo_one {
      border-bottom: 1px solid #ccc;
      padding: 15px 15px 10px 15px;
    }
    #iteminfo_quantity {
      border-bottom: 1px solid #ccc;
      padding: 10px 15px 5px 15px;
    }
    #iteminfo_multi {
      border-bottom: 1px solid #ccc;
      padding: 15px 10px 0px 10px;
      display: none;
    }
      #itemimage {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border: 1px solid #ccc;
        float: left;
      }
      #itemimage_multi {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border: 1px solid #ccc;
        float: left;
      }
    #sellerinfo, #receipt {
      padding: 10px 15px 5px 15px;
      border-bottom: 1px solid #ccc;
      box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
      background: #F1F1F1;
      background-size: contain;
      position: relative;
    }
      #cost {
        width: 55%;
        font-size: 15px;
        float: left;
        position: relative;
      }
        #cost span {
          display: block;
          text-align: left;
        }
          #cost span b {
            float: right;
          }
        #total {
          line-height: 30px;
        }
          #total b {
            font-size: 25px;
            line-height: 30px;
          }
      #cardchange {
        position: absolute;
        top: 50%;
        margin-top: -13px;
        right: 15px;
      }
     .cardarrow_box {
        display: inline-block;
      }
      #buybutton, #closebutton {
        display: block;
        height: 40px;
        font-size: 2em;
        padding-top: 4px;
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.5) 0 -1px;
        color: #fff;
      }
      #buybutton:active, #closebutton:active {
      	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2), inset 0px 1px 2px rgba(0,0,0,0.3);
      }
      #buybutton.disabled, #closebutton.disabled {
        box-shadow: none;
      }
  #right {
    position: absolute;
    left: 50%;
    opacity: 1;
    top: 50px;
    width: 290px;
    z-index: 4;
    overflow: hidden;
    background: #eee url('../images/exclusive_paper.png');
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ACACAC;
    padding: 15px 15px 15px 25px;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: left, opacity;
  }
    #email {
      position: absolute;
      top: 30px;
      right: 50%;
      -webkit-transition-duration: 1s;
      -webkit-transition-property: right;
    }
    #right h3 {
      padding-left: 15px;
      background: url('../images/lock.png') no-repeat 3px 6px;
      margin-bottom: 5px;
    }

    #notlogged, #newuser, #showinstruments_one, #showinstruments_multi {
      display: none;
    }

    #multi_instrument_list {
      max-height: 160px;
      overflow: auto;
    }
      #addcard {
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 125px;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        background-image: url('../images/blank_card_new.png');
      }
        #addcard p {
          position: absolute;
          display: block;
          top: 27px;
          padding: 10px;
          font-weight: bold;
          background: rgba(255,255,255, 0.9);
        }
      .addcardbutton div {
        padding-left: 20px;
        background: url('../images/plus_button_small.png') 0px 5px no-repeat;
        background-size: 15px 15px;
      }
      #singlecard {
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 125px;
        margin-left: 40px;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        background-image: url('../images/blank_card_new.png');
      }
        #singlecard p {
          position: absolute;
          display: block;
          text-align: center;
          top: 35px;
          width: 100%;
          padding: 10px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: bold;
          background: rgba(255,255,255, 0.9) url('../images/check.png') no-repeat;
          background-position: 0px 32px;
        }

    #bigcard {
      background: #fff;
      border-radius: 15px;
      width: 200px;
      height: 100px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      padding: 10px;
      margin: 0 auto 15px auto;
    }
      #bigcard img {
        margin: 0 10px 10px 0;
        width: 50px;
        vertical-align: middle;
      }
  
  #config_flow {
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 200px;
    left: 200px;
  }
  #config_purchase_types {
    border-radius: 15px;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 200px;
    left: 415px;
  }

ul.instrument_list {
    list-style-type: none;
}

.instrument_list li {
    padding: 5px 8px 5px 8px;
    margin: 0;
    display: block;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-left: 22px;
    cursor: default;
    -webkit-user-select: none;
}

.instrument_list li.card_line_selected {
    background: url('../images/check.png') left center no-repeat;
}

.instrument_list li:hover {
    background: #ddd;
}

.instrument_list li.card_line_selected:hover {
    background:  #ddd url('../images/check.png') left center no-repeat;
}

.instrument_list li.expired:hover {
    background: transparent;
}

div.card_image {
    padding: 0;
    margin: 0;
    float: left;
    width: 40px;
    display: block;
}

div.card_details {
    float: left;
    margin-top: -4px;
    display: block;
}

div.card_details_expired {
    filter:alpha(opacity=50);
    opacity:.5;
}

div.card_expire {
    padding-left: 5px;
    float: left;
    margin-top: -4px;
    display: block;
}

div.card_expired {
    filter:alpha(opacity=50);
    opacity:.5;
    color: #f44;
}

#big_list, #small_list {
  display: none;
}
div.lineitems {
    max-height: 220px;
    overflow: auto;
}

div.item_data {
    width: 200px;
    margin-bottom: 2px;
    float: left;
}

div.item_name {
    float: left;
    margin-top: 4px;
    width: 150px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

div.item_price {
    float: right;
    margin-top: 4px;
}

#receipt {
    display: none;
}

#receipt_left {
    float: left;
    padding-top: 5px;
    padding-bottom: 0px;
}

#receipt_right {
    float: right;
    padding-top: 5px;
    padding-bottom: 0px;
}

#amount, #method {
    font-size: 12px;
    width: 52px;
    display: inline-block;
}

#seller, #date {
    font-size: 12px;
    width: 28px;
    display: inline-block;
}

#receipt_total, #receipt_instrument, #receipt_seller, #receipt_date {
    font-weight: bold;
    font-size: 15px;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#receipt_seller {
    width: 175px;
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
}
